body {
	width: 1280px;
	margin: 0 auto;
	font-family: sans-serif;
	}
	
/*navbar*/
	
ul {
	list-style-type: none;
	}
	
ul.topnav {
	float: right;
	margin: 10px 20px 10px 20px;
	}
		
li.top {
	float: left;
	display: block;
	min-width: 5px;
	margin: 10px 5px 10px 5px;
	font-size: 12px;
	color: gray;
	}
	
li.top a {
	color: black;
	text-decoration: none;
	}

/*logo and search*/	

#content {
	clear: right;
	width: 1280px;
	height: 333px;
	margin: 12px 0 0 0;
	}
	
div#content img {
	width: 269px;
	height: 95px;
	display: block;
	padding: 5em 5em 2em 5em;
	margin: auto;
	}

div#content form {
	width: 1280px;
	display: block;
	margin: auto;
	text-align: center;
	}

div#search input {
	width: 539px;
	height: 28px;
	display: block;
	margin: auto;
	}
div#buttons {
	padding: 20px 0 20px 0;
	}
	
div#buttons input {
	font-weight: bold;
	color: #444;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
	background-color: #f1f1f1;
	min-width: 54px;
	}
	
/*bottom nav*/

#footer {
	width: 1280px;
	padding: 10px 0 0 0;
	margin: 270px 0 0 0;
	}
	
ul.bottomnav {
	height: 37px;
	border: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	margin: 0 auto;
	}

li.bleft {
	display: block;
	float: left;
	margin: 5px 5px 8px 8px;
	}	
	
li.bright {
	display: block;
	float: right;
	margin: 5px 8px 8px 5px;
	}
	
ul.bottomnav li a {
	color: #666;
	text-decoration: none;
	font-size: small;
	}